{% load static %}
<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Sentiment Analysis</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
    <!-- Favicon -->

</head>
{%block content%}

{%endblock%}

<script type="text/javascript"src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</script>

<script>

  $(document).ready(function(){
  $("#text_comment").on('keyup', function (e) {
    if (e.keyCode == 13) {
        // Do something 
var comment = $("#text_comment").val();
var endpoint = '/comment/'
var default_data = []
var labels = []
$.ajax({
  method : "GET",
  url : endpoint,
  data: {
    "test_data":comment
  },
  success:function(data){
    comment = data.comment
    
    // string_labels = JSON.stringify(labels)
    // string_accuracy = JSON.stringify(accuracy)

    document.getElementById("precision").innerHTML = accuracy[0]*100+" %";
  
    },
  error:function(error_data){
    console.log("error")
    console.log(error_data)
  }

});
}

});
$("#select").change(function(){
var test = $("#select option:selected").val();
var endpoint = '/testfunction/'
var default_data = []
var labels = []
$.ajax({
  method : "GET",
  url : endpoint,
  data: {
    "test_data":test
  },
  success:function(data){
    labels = data.labels
    accuracy = data.default
    // string_labels = JSON.stringify(labels)
    // string_accuracy = JSON.stringify(accuracy)

    document.getElementById("precision").innerHTML = accuracy[0]*100+" %";
    document.getElementById("recall").innerHTML = accuracy[1]*100+" %";
    document.getElementById("f_score").innerHTML = accuracy[2]*100+" %";
  },
  error:function(error_data){
    console.log("error")
    console.log(error_data)
  }

});

});

  $("#myButton").click(function(){
      var search_word = $("#sentences").val();
      $('#loadingmessage').show();
      var url_view = '/predict/'
      var value = []
      $.ajax({
        type: "GET",
        url: url_view,
        data: {
          "data_from_form":search_word
        },

        success: function(result){
          setTimeout(function(){
          $('#loadingmessage').hide();
          final_prediction = result.data
          // document.write(final_prediction)
          // string_labels = JSON.stringify(labels)
          // string_accuracy = JSON.stringify(accuracy)
          if (final_prediction == 1){
              document.getElementById("result_display").innerHTML = "तपाईंको मनोभाव सकारत्मक छ ।";
              $("#result_display").css({"color": "black", "font-size": "20px",});
          }
          else if(final_prediction == 0){
            document.getElementById("result_display").innerHTML = " तपाईंको मनोभाव नकारत्मक छ । ";
            $("#result_display").css({"color": "red", "font-size": "20px"});


          }
          else if(final_prediction==2){
            document.getElementById("result_display").innerHTML = "तपाईंको मनोभाव तटस्थ  छ ।";
            $("#result_display").css({"color": "blue", "font-size": "20px"});


          }

},4000);
        },
        error:function(error_data){
          console.log("error")
          console.log("error_data")
        }
      });
return false;
});

  });
</script>
</body>

</html>
