{%extends 'base/base.html'%}

  {% block content %}
{% load static %}
  <body>
    <div class="container">
    <div class="col-md-12" >
       <center><a href="{% url 'index' %}" class="btn btn-default">Home</a></center>
      
      <img style="width:100% ;height:500px; margin: 10px; border-radius: .3em; " class="img-thumbnail" src="{% static 'img/123.jpg' %}" alt="positive">
      <p style="color: balck; opacity: 0.6; font-size: 20px;">Comments</p>
     
      <h4>कती राम्रो फोटो खिचेको ।</h4>
     <small>Mahesh Acharya</small>
      <br>
      <br>
      <hr>

       <h4>आहा, ramro फोटो ।</h4>
       <small>Kanchan Bhatta</small>
       <br>
       <br>
       <hr>

       <h4>हाह ,कस्तो बाईक । </h4>
       <small>Ashmit Gautam</small>
       <br>
       <br>
       <hr>
       <hr>

      <h4>फोटो राम्रो छ तर एडिट अलि बडी भयछ ।</h4>
      <small>Bishal Khadka</small>
      <br>
      <br>
      <hr>

       <h4>अलि फ्रमे मिलेन  फोटोको । </h4>
      <small>Karuna Bhatta</small>
      <br>
      <br>
      <hr>

      <span style="color: gray; opacity: .6;"><h3>Positive<i><img style="width:25px;height: auto;" src="{% static 'img/neu.png' %}" alt="neutrl"></i></h3><span>60%</span><h3>Negative<i><img style="width:25px;height: auto;" src="{% static 'img/neg.png' %}" alt="neutrl"></i></h3><span>20%</span><h3>Neutral<i><img style="width:25px;height: auto;" src="{% static 'img/neu.png' %}" alt="neutrl"></i></h3><span>20%</span></span>
    </div>
  </div>
  <div class="container">
  <div class="footer">
    <div class="row">

       <center style="height: 50px;width: 100%; background-color: red; color: white; text-align: center; font-weight: bold; padding: 10px" id="date">


  </center>



    </div>

  </div>
  </div>
    	<script type="text/javascript">

  		var d = new Date();
document.getElementById("date").innerHTML = "All Right Reserved "+d.getFullYear();

  	</script>
</body>


{%endblock%}
