{%extends 'base/base.html'%}

  {% block content %}
{% load static %}
  <body>
    <div class="container">
    <div class="col-md-12" >
       <center><a href="{% url 'index' %}" class="btn btn-default">Home</a></center>
      
      <img style="width:100% ;height:500px; margin: 10px; border-radius: .3em; " class="img-thumbnail" src="{% static 'img/123.jpg' %}" alt="positive">
      <p style="color: balck; opacity: 0.6; font-size: 20px;">Comments</p>
      {% for data in data %}
        {{data}}<hr>
      {% endfor  %}
    <form method='get' action='/comment/'>{% csrf_token %}
      <input type="text" name="comment" id="comment">
      <button>Submit</button>
    </form>


      <span style="color: gray; opacity: .6; display: inline-block;"><h3>Positive<i><img style="width:25px;height: auto;" src="{% static 'img/neu.png' %}" alt="neutrl"></i></h3><span>{{pos}}</span><h3>Negative<i><img style="width:25px;height: auto;" src="{% static 'img/neg.png' %}" alt="neutrl"></i></h3><span>{{neg}}</span><h3>Neutral<i><img style="width:25px;height: auto;" src="{% static 'img/neu.png' %}" alt="neutrl"></i></h3><span>{{neut}}</span></span>
    </div>
  </div>
  <div class="container">
  <div class="footer">
    <div class="row">

       <center style="height: 50px;width: 100%; background-color: gray; color: white; text-align: center; font-weight: bold; padding: 10px" id="date">


  </center>



    </div>

  </div>
  </div>
    	<script type="text/javascript">

  		var d = new Date();
document.getElementById("date").innerHTML = "All Right Reserved "+d.getFullYear();

  	</script>
</body>


{%endblock%}
