{%extends 'base/base.html'%}


<script type="text/javascript">
{%block jquery%}

$("#text_comment").on('keyup', function (e) {
    if (e.keyCode == 13) {
        // Do something 
console.log('sdsdksajds');
document.getElementById("#comment_print").innerHTML = 'hello';

// var comment = $("#text_comment").val();
// var endpoint = '/comment/'
// var default_data = []

// $.ajax({
//   method : "GET",
//   url : endpoint,
//   data: {
//     "test_data":comment
//   },
//   success:function(data){
//     comment = data.comment
    
//     // string_labels = JSON.stringify(labels)
//     // string_accuracy = JSON.stringify(accuracy)

//     document.getElementById("precision").innerHTML = accuracy[0]*100+" %";
  
//     },
//   error:function(error_data){
//     console.log("error")
//     console.log(error_data)
//   }

// });
}

});
$("#select").change(function(){
var test = $("#select option:selected").val();
var endpoint = '/testfunction/'
var default_data = []
var labels = []
$.ajax({
  method : "GET",
  url : endpoint,
  data: {
    "test_data":test
  },
  success:function(data){
    labels = data.labels
    accuracy = data.default
    // string_labels = JSON.stringify(labels)
    // string_accuracy = JSON.stringify(accuracy)

    document.getElementById("precision").innerHTML = accuracy[0]*100+" %";
    document.getElementById("recall").innerHTML = accuracy[1]*100+" %";
    document.getElementById("f_score").innerHTML = accuracy[2]*100+" %";
  },
  error:function(error_data){
    console.log("error")
    console.log(error_data)
  }

});

});

  $("#myButton").click(function(){
      var search_word = $("#sentences").val();
      $('#loadingmessage').show();
      var url_view = '/predict/'
      var value = []
      $.ajax({
        type: "GET",
        url: url_view,
        data: {
          "data_from_form":search_word
        },

        success: function(result){
          setTimeout(function(){
          $('#loadingmessage').hide();
          final_prediction = result.data
          // document.write(final_prediction)
          // string_labels = JSON.stringify(labels)
          // string_accuracy = JSON.stringify(accuracy)
          if (final_prediction == 1){
              document.getElementById("result_display").innerHTML = "तपाईंको मनोभाव सकारत्मक छ ।";
              $("#result_display").css({"color": "black", "font-size": "20px",});
          }
          else if(final_prediction == 0){
            document.getElementById("result_display").innerHTML = " तपाईंको मनोभाव नकारत्मक छ । ";
            $("#result_display").css({"color": "red", "font-size": "20px"});


          }
          else if(final_prediction==2){
            document.getElementById("result_display").innerHTML = "तपाईंको मनोभाव तटस्थ  छ ।";
            $("#result_display").css({"color": "blue", "font-size": "20px"});


          }

},4000);
        },
        error:function(error_data){
          console.log("error")
          console.log("error_data")
        }
      });
return false;
});

{%endblock%}
</script>
  {% block content %}
{% load static %}
  <body>
    <div class="container">
      <div class="row">
        <center><a href="{% url 'blog' %}" class="btn btn-default">Blog</a></center>
<h2 style="text-align:center; color:gray; opacity:.7;">नेपाली वाक्यहरुको  भावनत्मक विस्लेसण :)</h2>
      </div>

    </div>

    <div class="container">
      <div class="row">
<h3 style="text-align:center; color:gray; opacity:.7;">सकारत्मक, नकारत्मक, तटस्थ </h3><br>
<p style="text-align:center; color:gray;">{In this sentiment anlysis project we use Naive Bayes classification algorithm which is based on
  conditional probability
theory. Initally we Use four thousand data.}</p>
      </div>

    </div>
    <div class="container">
      <div class="row">
<hr>      </div>

    </div>
    <div class="container">
      <div class="row">
  <div class="col-md-4 col-sm-6 col-xs-12">
<img style="width:100px;height:auto;" src="{% static 'img/pos.png' %}" alt="positive">
  </div>
  <div class="col-md-4 col-sm-6 col-xs-12">
    <img style="width:100px;height:auto;margin-left:120px " src="{% static 'img/neg.png' %}" alt="negative">

  </div>
  <div class="col-md-4 col-sm-6 col-xs-12">
    <img style="width:100px;height:auto;margin-left:200px" src="{% static 'img/neu.png' %}" alt="neutrl">

  </div>
      </div>
      <div class="row">
<hr>      </div>
<center>

   <div class="row">
     <div class="form-group">
       <label style="color:Gray; font-weight:bold; font-size:20px;">Select Test Size In Percent:</label>
       <select id="select" class="form-control">
        <option selected disabled>Choose here</option>
         <option>60</option>
         <option>70</option>
         <option>80</option>
         <option>90</option>
       </select>
     </div>

 </div>
<div class="row">
  <h3 style="color:red; font-weight:bold; font-size:20px; text-decoration:underline;">Accuracy In Training</h3>
 </div>
      <div class="row">

        <h5 style="color:red; font-weight:bold;">Precision:<p style="font-style:italic; color:blue;" id="precision"></p></h5><br>
        <h5 style="color:red; font-weight:bold;">Recall:<p style="font-style:italic; color:blue;" id="recall"></p></h5> <br>
        <h5 style="color:red; font-weight:bold; ">F_Measure:<p style="font-style:italic; color:blue;" id="f_score"></p></h5>

      </div>
    </center>
        <div class="row">
  <hr>      </div>


      <div class="row">
        <form class="form-group"  method="POST">{% csrf_token %}
          <label for="sentences" style="color:blue; font-size: 30px; text-align:center; opacity:.6;">वाक्य इन्पुट दिनुहोस  </label>
          <input type="text" name="sentences" id="sentences" class="form-control">
          <button style="margin-top:10px;" id="myButton" class="btn btn-primary" >विस्लेसण</button>

        </form>

      </div>


      <div class="row">
        <div id='loadingmessage' style="display:none;">
       <img style="height:50px; width:auto; align-items:center;" src='{% static 'img/load.gif' %}'/>
      </div>

<p  id="result_display"></p>
      </div>


    </div>
    <hr>
  <div class="container">
    <div class="row">
<div class="col-md-6 col-sm-6 col-xs-6">
  <canvas id="myChart" width="50" height="30"></canvas>

</div>
    </div>

  <div class="footer">
    <div class="row">

       <center style="height: 50px;width: 100%; background-color: gray; color: white; text-align: center; font-weight: bold; padding: 10px" id="date">


  </center>



    </div>

  </div>
    	<script type="text/javascript">

  		var d = new Date();
document.getElementById("date").innerHTML = "All Right Reserved "+d.getFullYear();

  	</script>
</body>


{%endblock%}
